---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Hey, I'm Rashad</h1>
    <p>
      I'm a software developer who enjoys working on opensource software, GNU/Linux user (I use Arch, BTW XD).
      <a target="_blank" href="https://antfu.me">my contributions and projects</a>.
    </p>
    <p>
      <img width="640" height="360" src="/alone.gif" alt="Hero Image" />
    </p>
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a aria-label={link.text} href={link.href} target="_blank" class="prose-link">
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
    <p>
      If you want to contact me, please email me at
      <a prose-link aria-label={siteConfig.email} href={`mailto:${siteConfig.email}`}>
        {siteConfig.email}
      </a>, or any of the above links.
    </p>
  </article>
</BaseLayout>
